@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: #E8F4FF !important;
}

header .items a{
    text-decoration: none !important;
    color: #000;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
}

header nav ul{
    list-style: none;
    
}

header nav > :last-child{
    display: flex;
    justify-content: end;
}
header .items{
    display: flex;
    justify-content: center;
}

header .mainNav{
    justify-content: space-around;
}

header nav > :last-child > button{
    padding: 5px 5%;
    border: 2px solid #FF7134;
    border-radius: 5px;
    background-color: transparent;
}

header nav > :last-child > :last-child{
    background-color: #FF7134;
}
header nav > :last-child > :first-child a{
    color: #000;
    text-decoration: none;
}
header nav > :last-child > :last-child a{
    background-color: #FF7134;
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 1440px){
    header nav .items{
        margin-left: 11rem;
    }
}

@media screen and (max-width: 768px){
    header .mainNav{
        justify-content: space-between;
    }
    header .items{
        position: absolute;
        top: 5rem;
        width: 100%;
    }
    header .items ul{
        display: flex;
        text-align: center;
        flex-direction: column !important;
        gap: 5px !important;
    }

    header nav > :last-child{
        position: absolute;
        top: 18rem;
        width: 100%;
        justify-content: center;
        margin-left: 10px;
        align-items: center;
    }
}
